*{
  padding: 0;
  mangin: 0;
  box-sizing: border-box;
  font-family: "inter" , sans-serif;
  color: #ffffff;
}
body{
  background-color: #29043c;
  padding: 2rem;

}

P{
  text-align: center;
}
a{
  text-decoration: none;
}